[Desktop Entry]
Name=Brun
Comment=Convergent calculator
TryExec=brun
Exec=brun
Terminal=false
Type=Application
GenericName=Calculator
StartupNotify=true
Icon=brun
Categories=Qt;KDE;Utility;
